/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-blog.png)no-repeat center center;
		background-size: cover;
		height: 227px;
		overflow: hidden;
	}

/* --- conteudo --- */
	#conteudo{
		padding-top: 65px;
		padding-bottom: 60px;
	}
	#conteudo h1{
		font-size: 52px;
		margin-bottom: 85px;
	}

/* --- artigos --- */
	#artigos{
		max-width: 740px;
		width: 100%;
		float: left;
	}
	#artigos article img.img-principal{
		width: 100%;
		height: 309px;
		object-fit: cover;
		border: 5px solid var(--new-blue-2);
		box-shadow: -20px -20px 0 var(--new-blue-1);
	}
	#artigos article .bg-blue-2{
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		top: -40px;
		height: 38px;
		padding-top: 5px;
	}
	#artigos article .bg-blue-2 p.text-yellow{
		font-size: 13px;
		margin-right: 30px;
	}
	#artigos article .bg-blue-2 p.text-white{
		font-size: 12px;	
	}
	#artigos article .bg-blue-2 p a img{
		margin-left: 4px;
	}
	#artigos article .text-right p.font-light{
		font-size: 13px;
		color: #670E73;
		margin-top: -20px;
	}
	#artigos article h2{
		font-size: 26px;
		margin-bottom: 15px;
	}
	#artigos article p.font-light{
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 35px;
	}
	#artigos article img.img-2{
		width: 218px;
		height: 218px;
		object-fit: cover;
		border: 5px solid var(--new-blue-2);
		margin-bottom: 30px;
		margin-right: 15px;
	}
	#artigos article img.img-3{
		width: 483px;
		height: 218px;
		object-fit: cover;
		border: 5px solid var(--new-blue-2);
		margin-bottom: 30px;
	}
	
/* --- aside --- */
	aside{
		max-width: 256px;
		width: 100%;
		margin-left: auto;
		margin-right: 15px;
		padding: 22px 30px;
		float: right;
	}
	aside .form-control{
		background-color: transparent!important;
		font-size: 12px;
		color: white;
		/*max-height: 34px;*/
		padding-left: 20px;
		border-color: white;
	}
	aside .form-control::placeholder{
		color: white;
	}
	aside input.customDropdown{
		background : url(../imagens/logos/loupe-2.png) no-repeat 92% #eeeeee;
		-webkit-appearance: none;
		   -moz-appearance: none;
		    -ms-appearance: none;
		     -o-appearance: none;
	}
	aside .form-control:focus{
		box-shadow: none;
	}
	aside h3{
		font-size: 26px;
	}
	aside hr{
		width: 58px;
		margin-left: 0;
	}
	aside ul.lista{
		list-style: none;
	}
	aside ul.lista li{
		margin-bottom: 16px;
	}
	aside ul.lista a{
		font-size: 16px;
		color: white;
		opacity: .6;
	}
	aside .lista a:hover{
		opacity: 1;
	}

	aside .mais-lidas{
		margin-top: 40px;
	}
	aside .mais-lidas hr{
		margin-bottom: 15px;
	}
	aside .mais-lidas p.font-bold{
		margin-bottom: 5px;
		font-size: 15px;
	}
	aside .mais-lidas p.font-light{
		margin-bottom: 5px;
		font-size: 15px;
		margin-bottom: 15px;
		color: var(--new-yellow);
	}
	aside .mais-lidas .lista li{
		border-bottom: 1px solid var(--new-yellow);
	}
	aside .mais-lidas .lista li:last-child{
		border-bottom: none;
	}

	aside .arquivos{
		margin-top: 30px;
	}
	aside .arquivos ul li{
		margin-bottom: 12px;
	}
	aside .arquivos ul li a{
		color: white;
		font-size: 15px;
	}

	aside .cadastro{
		padding: 10px 0px;
	}
	aside .cadastro h3{
		font-size: 16px;
		margin-bottom: 20px;
	}
	aside .cadastro input.form-control{
		max-height: 35px;
		border: 1px solid white;
		border-radius: 0px;
		font-size: 13px;
		padding-left: 15px;
		margin-bottom: 10px;
	}
	aside .cadastro a.btn{
		margin-top: 10px;
		height: 51px;
		background-color: white;
		border: 1px solid white;
		border-radius: 0px;
		color: var(--new-blue-1);
		padding-top: 14px;
		font-size: 14px;
	}
	aside .cadastro a.btn:hover{
		background-color: transparent;
		color: white;
	}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- artigos --- */
		#artigos{
			max-width: 720px;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-blog.png)no-repeat 70% center;
		}

	/* --- aside --- */
		.menu-2{
			position: absolute;
			top: 0;
			right: 0;
			z-index: 4;
			transition: .3s;
		}
		.sombra{
			display: none;

			width: 350px;
			padding: 80px 30px;
			background-color: rgba(72, 43, 132, 0.86);
			transition: .3s;
		}
		img.menu-lateral{
			position: absolute;
			top: 500px;
			left: -60px;
			transition: .3s;
		}
		.m-negative{
			display: block;
			transition: .3s;
		}
		aside{
			float: none;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-blog.png)no-repeat 75% center;
		}

	/* --- conteudo --- */
		#conteudo{
			padding-top: 40px;
			padding-bottom: 40px;
		}
		#conteudo h1{
			font-size: 30px;
			margin-bottom: 40px;
		}

	/* --- artigos --- */
		#artigos article img.img-principal{
			box-shadow: -10px -10px 0 var(--new-blue-1);
		}
		#artigos article .bg-blue-2{
			padding-left: 10px;
			padding-right: 10px;
		}
		#artigos article .bg-blue-2 p.text-yellow{
			font-size: 12px;
			margin-right: 25px;
		}
		#artigos article .bg-blue-2 p.text-white{
			font-size: 12px;	
		}
		#artigos article h2{
			margin-top: 15px;
		}
		#artigos article p.font-light{
			margin-bottom: 30px;
		}
		#artigos article img.img-2{
			width: 100%;
			height: 218px;
			margin-bottom: 20px;
			margin-right: 0px;
		}
		#artigos article img.img-3{
			width: 100%;
			height: 218px;
			margin-bottom: 20px;
		}	
		
	/* --- aside --- */
		aside h3{
			font-size: 20px;
		}
		aside hr{
			width: 58px;
		}
		aside ul.lista li{
			margin-bottom: 15px;
		}
		aside ul.lista a{
			font-size: 15px;
		}
		aside .mais-lidas p.font-light{
			font-size: 14px;
			margin-bottom: 10px;
		}
		aside .arquivos ul li{
			margin-bottom: 10px;
		}

		aside .cadastro h3{
			line-height: 20px;
		}
		aside .cadastro a.btn{
			height: 45px;
			padding-top: 12px;
		}
		.sombra{
			width: 300px;
			padding: 40px 5px;
		}
		img.menu-lateral{
			max-width: 40px; 
			top: 440px;
			left: -40px;
		}
}

@media screen and (max-width: 400px) {
		
}