/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-blog.png)no-repeat center center;
		background-size: cover;
		height: 227px;
		overflow: hidden;
	}

/* --- conteudo --- */
	#conteudo{
		padding-top: 65px;
		padding-bottom: 60px;
	}
	#conteudo h1{
		font-size: 52px;
		margin-bottom: 85px;
	}

/* --- artigos --- */
	#artigos{
		max-width: 720px;
		width: 100%;
		float: left;
	}
	#artigos article{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 386px;
		margin-bottom: 50px;
		padding: 0 50px 30px;
		transition: .3s;
		position: relative;
	}
	#artigos article::after{
		content: "";
		position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 100%;
	    height: 60%;
	    background-image: linear-gradient(transparent, #482B84);
	    opacity: 1;
	    z-index: 1;
	    transition: .3s;
	}
	#artigos article h2{
		font-size: 26px;
		max-width: 400px;
		position: relative;
		z-index: 2;
	}
	#artigos article .infos{
		display: none;
		transition: .3s;
		position: relative;
		z-index: 2;
	}
	#artigos article .infos p.desc{
		font-size: 16px;
		overflow: hidden;
		
		/*white-space: nowrap;*/
		/*text-overflow: ellipsis;*/
		/*max-width: 150px;*/

		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}
	#artigos article .infos a.btn{
		width: 126px;
		height: 47px;
		font-size: 15px;
		border: 1px solid white;
		background-color: white;
		color: var(--new-blue-1);
		padding-top: 12px;
	}
	#artigos article .infos a.btn:hover{
		background-color: transparent;
		color: white;
	}
	#artigos article .infos .text-right p.text-yellow{
		font-size: 13px;
		margin-right: 30px;
	}
	#artigos article .infos .text-right p.text-white{
		font-size: 12px;
	}
	#artigos article .infos .text-right p.text-white a{
		margin-left: 3px;
		transition: .3s;
	}
	#artigos article .infos .text-right p.text-white a:first-child{
		margin-left: 10px;
	}
	#artigos article .infos .text-right p.text-white a:hover img{
		margin-top: -5px;
		transition: .3s;
	}

	#artigos article:hover{
		box-shadow: 20px 20px 0 var(--new-blue-1);
		padding: 0 30px 10px 50px;
		transition: .3s;
	}
	#artigos article:hover .infos{
		display: block;
		transition: .3s;
	}
	#artigos article:hover::after{
		height: 100%!important;
	    background-image: linear-gradient(#482b84ab, #482B84);
	    opacity: 1;
		transition: .3s;
	}

	/* --- */

	.paginacao a{
		font-family: "Averta Bold";
		padding: 0px 10px;
		font-size: 26px;
		line-height: 1.2;
		color: #707070;
		transition: .3s;
		border-radius: 0;
	}
	.paginacao a.active,
	.paginacao a:hover{
		background-color: var(--new-yellow); 
		color: #670E73;
		transition: .3s;
	}
	
/* --- aside --- */
	aside{
		max-width: 256px;
		width: 100%;
		margin-left: auto;
		margin-right: 15px;
		padding: 22px 30px;
		float: right;
	}
	aside .form-control{
		background-color: transparent!important;
		font-size: 12px;
		color: white;
		/*max-height: 34px;*/
		padding-left: 20px;
		border-color: white;
	}
	aside .form-control::placeholder{
		color: white;
	}
	aside input.customDropdown{
		background : url(../imagens/logos/loupe-2.png) no-repeat 92% #eeeeee;
		-webkit-appearance: none;
		   -moz-appearance: none;
		    -ms-appearance: none;
		     -o-appearance: none;
	}
	aside .form-control:focus{
		box-shadow: none;
	}
	aside h3{
		font-size: 26px;
	}
	aside hr{
		width: 58px;
		margin-left: 0;
	}
	aside ul.lista{
		list-style: none;
	}
	aside ul.lista li{
		margin-bottom: 16px;
	}
	aside ul.lista a{
		font-size: 16px;
		color: white;
		opacity: .6;
	}
	aside .lista a:hover{
		opacity: 1;
	}

	aside .mais-lidas{
		margin-top: 40px;
	}
	aside .mais-lidas hr{
		margin-bottom: 15px;
	}
	aside .mais-lidas p.font-bold{
		margin-bottom: 5px;
		font-size: 15px;
	}
	aside .mais-lidas p.font-light{
		margin-bottom: 5px;
		font-size: 15px;
		margin-bottom: 15px;
		color: var(--new-yellow);
	}
	aside .mais-lidas .lista li{
		border-bottom: 1px solid var(--new-yellow);
	}
	aside .mais-lidas .lista li:last-child{
		border-bottom: none;
	}

	aside .arquivos{
		margin-top: 30px;
	}
	aside .arquivos ul li{
		margin-bottom: 12px;
	}
	aside .arquivos ul li a{
		color: white;
		font-size: 15px;
	}

	aside .cadastro{
		padding: 10px 0px;
	}
	aside .cadastro h3{
		font-size: 16px;
		margin-bottom: 20px;
	}
	aside .cadastro input.form-control{
		max-height: 35px;
		border: 1px solid white;
		border-radius: 0px;
		font-size: 13px;
		padding-left: 15px;
		margin-bottom: 10px;
	}
	aside .cadastro a.btn{
		margin-top: 10px;
		height: 51px;
		background-color: white;
		border: 1px solid white;
		border-radius: 0px;
		color: var(--new-blue-1);
		padding-top: 14px;
		font-size: 14px;
	}
	aside .cadastro a.btn:hover{
		background-color: transparent;
		color: white;
	}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-blog.png)no-repeat 70% center;
		}
		
	/* --- artigos --- */
		#artigos{
			float: none;
		}

	/* --- aside --- */
		/*.menu-2{
			border: 1px solid; 
			width: 410px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 4;
			overflow-x: hidden;
		}
		.sombra{
			position: relative;
			margin-left: 60px;
			right: -350px;
			width: 350px;
			padding: 80px 30px;
			background-color: rgba(72, 43, 132, 0.86);
			transition: .3s;
		}
		img.menu-lateral{
			position: absolute;
			top: 500px;
			left: -60px;
			transition: .3s;
		}		
		.m-negative{
			right: 0px;
			transition: .3s;
		}
		aside{
			float: none;
		}*/

		.menu-2{
			position: absolute;
			top: 0;
			right: 0;
			z-index: 4;
			transition: .3s;
		}
		.sombra{
			display: none;

			width: 350px;
			padding: 80px 30px;
			background-color: rgba(72, 43, 132, 0.86);
			transition: .3s;
		}
		img.menu-lateral{
			position: absolute;
			top: 500px;
			left: -60px;
			transition: .3s;
		}
		.m-negative{
			display: block;
			transition: .3s;
		}
		aside{
			float: none;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-blog.png)no-repeat 75% center;
		}

	/* --- conteudo --- */
		#conteudo{
			padding-top: 40px;
			padding-bottom: 40px;
		}
		#conteudo h1{
			font-size: 30px;
			margin-bottom: 40px;
		}

	/* --- artigos --- */
		#artigos article{
			height: 200px;
			margin-bottom: 30px;
			padding: 0 20px 20px;
		}
		#artigos article h2{
			font-size: 14px;
			max-width: 200px;
		}
		#artigos article .infos p.desc{
			font-size: 14px;
			line-height: 15px;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		#artigos article .infos a.btn{
			width: 65px;
			height: 24px;
			font-size: 7px;
			padding-top: 8px;
		}
		#artigos article .infos .text-right p.text-yellow{
			font-size: 6px;
			margin-right: 20px;
		}
		#artigos article .infos .text-right p.text-white{
			font-size: 6px;
		}
		#artigos article .infos .text-right p.text-white a:hover img{
			max-width: 8px;
		}

		#artigos article:hover{
			box-shadow: 15px 15px 0 var(--new-blue-1);
			padding: 0 20px 0 20px;
		}

		/* --- */

		.paginacao a{
			padding: 0px 10px;
			font-size: 24px;
		}
		
	/* --- aside --- */
		aside h3{
			font-size: 20px;
		}
		aside hr{
			width: 58px;
		}
		aside ul.lista li{
			margin-bottom: 15px;
		}
		aside ul.lista a{
			font-size: 15px;
		}
		aside .mais-lidas p.font-light{
			font-size: 14px;
			margin-bottom: 10px;
		}
		aside .arquivos ul li{
			margin-bottom: 10px;
		}

		aside .cadastro h3{
			line-height: 20px;
		}
		aside .cadastro a.btn{
			height: 45px;
			padding-top: 12px;
		}
		.sombra{
			width: 300px;
			padding: 40px 5px;
		}
		img.menu-lateral{
			max-width: 40px; 
			top: 440px;
			left: -40px;
		}
}

@media screen and (max-width: 400px) {
	
}