/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-contato.png)no-repeat center center;
		background-size: cover;
		height: 227px;
		overflow: hidden;
	}

/* --- dados --- */
	#dados .container{
		max-width: 950px!important;
		margin-top: 80px;
	}
	#dados .container h1{
		font-size: 52px;
		margin-bottom: 85px;
	}

/* --- informações --- */
	.info .bg-yellow{
		box-shadow: -34px -34px 0 var(--new-blue-2);
		padding: 90px 40px 70px 50px;
		margin-top: 60px;
		max-width: 320px;
		margin-left: 15px;
	}
	.info .bg-yellow h2{
		font-size: 23px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.info .bg-yellow .media{
		margin-bottom: 12px;
	}
	.info .bg-yellow .media img{
		margin-right: 10px;
	}
	.info .bg-yellow .media-body p.text-blue-1{
		font-size: 12px;
		margin-top: -2px;
	}
	.info .bg-yellow .redes{
		margin-top: 25px;
	}
	.info a.btn{
		margin-top: 20px;
		margin-left: 15px;
		width: 210px;
		height: 55px;
		font-size: 16px;
		border: 3px solid var(--new-blue-1);
		background-color: transparent;
		color: var(--new-blue-2);
		padding-top: 12px;
	}
	.info a.btn:hover{
		background-color: var(--new-blue-1);
		color: white;
	}

/* --- formulario --- */
	.formulario{
		margin-top: 20px;
		padding-left: 10px;
		padding-right: 0;
	}
	.formulario .font-light{
		font-size: 16px;
		margin-bottom: 20px;
	}
	.formulario input,
	.formulario select,
	.formulario textarea{
		height: 59px;
		border: 1px solid #C4C4C4;
		border-radius: 0px;
		font-size: 15px;
		padding-left: 20px;
		margin-bottom: 15px;
	}
	.formulario select{
		margin-top: -5px;
	}
	.formulario textarea{
		margin-top: -5px;
		height: 145px;
		padding-top: 15px;
		padding-left: 20px;
		margin-bottom: 25px;
	}
	.formulario a.btn{
		width: 210px;
		height: 55px;
		font-size: 15px;
		border: 3px solid var(--new-blue-2);
		background-color: var(--new-blue-2);
		color: white;
		padding-top: 15px;
	}
	.formulario a.btn:hover{
		background-color: transparent;
		color: var(--new-blue-2);
	}

/* --- mapa --- */
	iframe{
		margin-top: 150px;
		width: 100%;
		height: 255px;
	}

/* --- modal trabalhe conosco --- */
	#modal_trabalhe_conosco{
		background-color: rgba(72, 43, 132, 0.6);
		padding-top: 20px;
	}
	#modal_trabalhe_conosco .modal-content{
		max-width: 614px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 72px 72px 0 var(--new-yellow);
		position: relative;
	}
	#modal_trabalhe_conosco .bg-red{
		max-width: 107px;
		width: 100%;
		max-height: 107px;
		height: 100%;
		position: absolute;
		top: -40px;
		left: -45px;
		z-index: -1;
	}
	#modal_trabalhe_conosco .modal-body{
		padding: 60px 95px 50px;
	}
	#modal_trabalhe_conosco h2{
		font-size: 37px;
		text-align: center;
		margin-bottom: 35px;
	}
	#modal_trabalhe_conosco input,
	#modal_trabalhe_conosco label{
		height: 59px;
		border-color: #C4C4C4;
		border-radius: 0;
		margin-bottom: 15px;
		padding-left: 20px; 
	}
	/* Esconde o input */
	input[type='file'] {
		display: none
	}
	#modal_trabalhe_conosco label{
		font-size: 15px;
		border: 1px solid #C4C4C4;
		color: #707070;
	 	cursor: pointer;
	 	width: 100%;
	 	padding-top: 20px;
	}
	#modal_trabalhe_conosco label .float-right{
		background-color: var(--new-blue-1);
		color: #fff;
		width: 64px;
		height: 24px;
		text-align: center;
		font-size: 13px;
		margin-right: 25px;
		padding-top: 2px;
	}
	#modal_trabalhe_conosco a.btn{
		width: 210px;
		height: 55px;
		background-color: #482B84;
		color: white;
		padding-top: 15px;
		margin-top: 15px;
	}
	#modal_trabalhe_conosco a.btn:hover{
		box-shadow: 10px 10px 0 var(--new-blue-1);
	}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-contato.png)no-repeat 70% center;
		}

	/* --- dados --- */
		#dados .container h1 {
		    margin-bottom: 50px;
		}

	/* --- informações --- */
		.info{
			margin-bottom: 40px;
		}
		.info .bg-yellow {
			margin-left: auto;
			margin-right: auto;
		}
		.info a.btn{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
	/* --- formulario --- */
		.formulario{
			padding-left: 15px;
			padding-right: 15px;
		}

	/* --- mapa --- */
		iframe {
		    margin-top: 50px;
		}	

	/* --- modal fale com a gente --- */
		#modal_trabalhe_conosco .modal-content{
			box-shadow: 45px 45px 0 var(--new-yellow);
		}
		#modal_trabalhe_conosco .bg-red{
			max-width: 90px;
			max-height: 90px;
			top: -30px;
			left: -35px;
		}
		#modal_trabalhe_conosco .modal-body{
			padding: 60px 50px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-contato.png)no-repeat 75% center;
		}

	/* --- dados --- */
		#dados .container {
		    margin-top: 40px;
		}
		#dados .container h1 {
		    font-size: 30px;
		    margin-bottom: 20px;
		}

	/* --- informações --- */
		.info{
			margin-bottom: 40px;
		}
		.info .bg-yellow {
			margin-left: auto;
			margin-right: auto;
		}
		.info .bg-yellow h2{
			font-size: 23px;
		}
		.info a.btn{
			margin-left: 40px;
		}
		
	/* --- formulario --- */
		.formulario{
			padding-left: 15px;
			padding-right: 15px;
		}

	/* --- modal trabalhe conosco --- */
		#modal_trabalhe_conosco{
			padding-top: 0px;
		}
		#modal_trabalhe_conosco .modal-content{
			max-width: 352px;
			box-shadow: 30px 30px 0 var(--new-yellow);
		}
		#modal_trabalhe_conosco .bg-red{
			max-width: 60px;
			max-height: 60px;
			top: -20px;
			left: -20px;
		}
		#modal_trabalhe_conosco .modal-body{
			padding: 60px 55px;
		}
		#modal_trabalhe_conosco h2{
			font-size: 20px;
			margin-bottom: 10px;
		}
		#modal_trabalhe_conosco input,
		#modal_trabalhe_conosco label{
			height: 33px;
			margin-bottom: 8px;
			padding-left: 15px; 
			font-size: 10px;
		}
		#modal_trabalhe_conosco label{
			padding-top: 8px;
		}
		#modal_trabalhe_conosco label .float-right{
			width: 37px;
			height: 14px;
			font-size: 7px;
			margin-right: 10px;
		}
		#modal_trabalhe_conosco a.btn{
			width: 121px;
			height: 31px;
			font-size: 8px;
			padding-top: 8px;
			margin-top: 5px;
		}
}

@media screen and (max-width: 400px) {
	/* --- informações --- */
		.info a.btn{
			margin-left: 12px;
		}
		
	/* --- modal trabalhe conosco --- */
		#modal_trabalhe_conosco .modal-body{
			padding: 60px 45px;
		}
}