/*
	CSS que engloba todas as páginas
*/

/* --- fontes --- */
	@font-face {
	    font-family: "Averta Black";
	    src: url("../fonts/Averta Black.otf");
	}
	@font-face {
	    font-family: "Averta Bold";
	    src: url("../fonts/Averta Bold.otf");
	}
	@font-face {
	    font-family: "Averta Light";
	    src: url("../fonts/Averta Light.otf");
	}
	@font-face {
	    font-family: "Averta Semibold";
	    src: url("../fonts/Averta Semibold.otf");
	}

	.font-black{
		font-family: "Averta Black";
	}
	.font-bold{
		font-family: "Averta Bold";
	}
	.font-light{
		font-family: "Averta Light";
	}
	.font-semibold{
		font-family: "Averta Semibold";
	}

/* --- cores --- */
	:root{
		--new-blue-1:#362062;
		--new-blue-2:#482B84;
		--new-yellow:#FFFF5D;
		--new-red:#DC2C49;
		--new-gray:#6C6C6C;
	}

	.bg-blue-1{
		background-color: var(--new-blue-1);
	}
	.bg-blue-2{
		background-color: var(--new-blue-2);
	}
	.bg-yellow{
		background-color: var(--new-yellow);
	}
	.bg-red{
		background-color: var(--new-red);
	}

	.text-blue-1{
		color: var(--new-blue-1);
	}
	.text-blue-2{
		color: var(--new-blue-2);
	}
	.text-yellow{
		color: var(--new-yellow);
	}
	.text-gray{
		color: var(--new-gray);
	}

/* --- outros --- */
	body{
		font-family: "Averta Light";
	}
	a:hover{
		text-decoration: none;
	}

	.container{
		max-width: 1082px!important;
	}
	.btn-blue{
		border: 1px solid var(--new-blue-1);
		background-color: var(--new-blue-1);
		color: white;
		border-radius: 0px;
		transition: .3s;
		text-transform: uppercase;
	}
	.btn-red:hover{
		background-color: transparent;
		color: var(--new-blue-1);
		transition: .3s;
	}
	
/* --- item-fixo --- */
	#item-fixo{
		position: fixed;
		bottom: 98px;
		right: 11%;
		z-index: 3;
	}

/*--- Barra de rolagem do navegador --- */
	::-webkit-scrollbar {
	 	width: 10px;
	  	height: 10px;
	  	border-radius: 0px;
	}
	::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	  	border-radius: 0px;
	}
	::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-blue-1);
	  	border-radius: 0px;
	}
	::-webkit-scrollbar-thumb:horizontal {
	  	background-color: var(--new-blue-1);
	  	border-radius: 0px;
	}

/*--- LGPD ---*/
	/* Deixa desabilitado por padrão */
	.js_enabled .lgpd-cookies {
	    display: none;
	}
	  
	.lgpd-cookies {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		width: 85vw;
		border: none;
		border-radius: 0;
		padding: 15px;
		position: fixed;
		bottom: 3%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 999;
		background: rgba(0, 0, 0, 0.85);
		box-shadow: 2px 1px 20px #00000029;
		border-radius: 10px;
	}
	  
	.lgpd-texto {
		width: 72%;
		text-align: center;
		margin-right: 20px;
		margin-left: 20px;
		color: #fff;
	}

	.lgpd-link {
		color: var(--clr-primary);
	}

	.lgpd-link:hover {
		color: var(--clr-primary);
	}

	.lgpd-botao {
		background: none;
		border: none;
		cursor: pointer;
		outline: none;
		color: #ffffff;
	}

	.lgpd-botao.continuar {
		border: 1px solid var(--clr-primary);
		border-radius: 8px;
		padding: 10px 15px;
		margin-right: 10px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.lgpd-botao.continuar:hover {
		color: #ffffff;
		background: var(--clr-primary);
	}

	.lgpd-botao.sair:hover {
		text-decoration: underline;
	}

@media screen and (max-width: 1660px) {
	/* --- item-fixo --- */
		#item-fixo{
			right: 5%;
			max-width: 100px;
		}
}

@media screen and (max-width: 1200px) {
	/* --- item-fixo --- */
		#item-fixo{
			right: 6.5%;
		}
		#item-fixo img{
			max-width: 60px;
		}
}

@media screen and (max-width: 480px) {
	/* --- item-fixo --- */
		#item-fixo{
			bottom: 55px;
			right: 4%;
		}
		#item-fixo img{
			max-width: 50px;
		}
}