
/* --- header - topo --- */
	header #top{
		height: 43px;
		padding-top: 5px;
	}
	header #top .text-left a{
		margin-right: 1px;
	}
	header #top .text-left a p{
		font-size: 12px;
	}
	header #top .text-left a p span{
		font-size: 18px;
	}

	header #top .text-right a.dropdown-toggle{
		font-size: 13px;
		color: var(--new-blue-1);
		margin-right: 20px;
	}
	header #top .text-right a.dropdown-toggle img{
		margin-left: 10px;
	}
	header #top .text-right .dropdown-menu{
	    transform: translate3d(31px, 25px, 0px)!important;
	    min-width: 70px;
	    padding: 0;
	}
	header #top .text-right a.btn{
		width: 97px;
		height: 25px;
		font-size: 11px;
		padding-top: 4px;
		margin-right: 30px;
	}

/* --- header - navegacao --- */
	header .navbar{
		height: 99px;
		/*position: relative;*/
	}
	header .navbar-nav li a{
		font-size: 16px;
		color: white;
		margin-right: 22px;
		padding-bottom: 0px;
		margin-top: -12px;
		border-bottom: 1px solid transparent;
	}
	header .navbar-nav li.active a,
	header .navbar-nav li a:hover{
		border-bottom: 1px solid rgb(255 255 255 / 64%);
	}

/* -- footer - bg-purple --- */
	footer{
		/*position: relative;*/
	}
	footer .bg-blue-1{
		height: 265px;
		padding-top: 40px;
	}
	footer .bg-blue-1 a.btn{
		font-size: 16px;
		border: 3px solid white;
		width: 253px;
		height: 47px;
		color: white;
		padding-top: 8px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	footer .bg-blue-1 a.btn:hover{
		box-shadow: 10px 10px 0 white;
	}
	footer .bg-blue-1 a img{
		filter: brightness(0) invert(1);
		margin-left: 8px;
		margin-right: 8px;
		min-height: 18px;
	}

/* --- footer - bg-white --- */
	footer .bg-white{
		height: 70px;
		padding-top: 12px;
	}
	footer .bg-white p{
		font-size: 16px;
	}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- header - topo --- */
		header #top .text-right a.btn{
			margin-right: 0px;
		}
}

@media screen and (max-width: 992px) {
	/* --- header - navegacao --- */
		header .navbar-collapse .navbar-nav{
			position: absolute;
			background-color: rgba(72, 43, 132, 0.95);
			top: -43px;
			left: 0;
			right: 0;
			height: 100ch;
			z-index: 1;
			padding: 20px;
			text-align: center;
			padding-top: 50px;
		}
		header .navbar-collapse .navbar-nav li{
			margin-bottom: 30px;
		}
		header .navbar-collapse .navbar-nav li a{
			font-family: "Averta Bold"!important;
		}
		header .navbar-collapse .navbar-nav li .input-group{
			max-width: 346px;
			margin-left: auto;
			margin-right: auto;
		}
		header .navbar-collapse .navbar-nav li input{
			height: 55px;
			font-size: 22px;
			font-family: "Averta Light";
		}
}

@media screen and (max-width: 480px) {
	/* --- header - topo --- */
		header #top .text-left a p.mb-0.text-blue-2{
			display: none;
		}
		header #top .text-right a.btn{
			margin-right: 0px;
		}
}

@media screen and (max-width: 418px) {
	/* --- header - topo --- */
		header #top .text-left,
		header #top .text-right{
			padding-left: 5px;
			padding-right: 5px;
		}
		header #top .text-right a.dropdown-toggle{
			font-size: 11px;
			margin-right: 3px;
		}
		header #top .text-right a.dropdown-toggle img{
			margin-left: 5px;
		}
		header #top .text-right a.btn{
			width: 80px;
			height: 23px;
			font-size: 10px;
			padding-left: 0;
			padding-right: 0;
			margin-right: 0px;
		}
}