/*import*/
@import url("global.css");
@import url("header-footer.css");

body .border-2.bg-blue-1{
	width: 25%;
	height: 52px;
	position: absolute;
	top: 820px;
}

/* --- carousel --- */
	#carousel{
		/*margin-bottom: 50px;*/
	}
	#carousel .carousel-item{
		background: url(../imagens/banners/banner-home.png)no-repeat bottom;
		background-size: cover;
		height: 708px;
	}
	#carousel .carousel-item .row picture img{
		position: relative;
		top: -50px;
		right: 24%;
	}
	#carousel .carousel-item .ml-auto{
		max-width: 480px;
	}
	#carousel .carousel-item h1{
		font-size: 45px;
		line-height: 55px;
		margin-top: -80px;
	}
	#carousel .carousel-item p{
		font-size: 18px;
		padding-right: 20px;
	}
	#carousel .carousel-item a.btn{
		font-size: 18px;
		height: 55px;
		padding-top: 0px;
		padding-left: 20px;
		padding-right: 0;
		color: var(--new-blue-1);
		background-color: white;
	}
	#carousel .carousel-item a.btn img{
		margin-top: -1px;
		margin-left: 15px!important;
	}

/* --- carousel indicators --- */
	#carousel .carousel-indicators {
	    /*left: 150px;*/
	    /*right: initial;*/
	    /*bottom: 60px;*/
	}
	#carousel .carousel-indicators li{
		/*margin-left: 9px;*/
		/*margin-right: 9px;*/
		/*width: 15px;*/
		/*height: 15px;*/
		/*border-radius: 50%;*/
		/*background-color: var(--new-gray);*/
		/*transition: .3s;*/
	}
	#carousel .carousel-indicators li.active{
		/*margin-top: -12px;*/
		/*background-color: var(--new-purple);*/
		/*transition: .3s;*/
	}

/* --- carousel arrows --- */
	#carousel .carousel-control-next,
	#carousel .carousel-control-prev{
		/*bottom: 120px;*/
		/*opacity: 1;*/
	}
	#carousel .carousel-control-prev img{
	    /*margin-left: -50px;*/
	}
	#carousel .carousel-control-next img{
		/*margin-right: -150px;*/
	}

/* --- herois mudam --- */
	#herois-mudam{
		padding-top: 180px;
		padding-bottom: 100px;
	}
	#herois-mudam h2{
		font-size: 40px;
		margin-bottom: 20px;
	}
	#herois-mudam p{
		font-size: 18px;
		max-width: 720px;
	}
	#herois-mudam .d-flex{
		margin-top: 50px;
		margin-bottom: 20px;
	}
	#herois-mudam .box{
		max-width: 255px;
		width: 100%;
		margin-left: 7px;
		margin-right: 7px;
		padding: 50px 30px 40px;
		margin-bottom: 20px;
		position: relative;

		max-height: 350px;
		height: 100%;
	}
	#herois-mudam .box .conteudo{
		max-height: 175px;
		height: 100%;
		overflow: auto;
	}
	#herois-mudam .box .conteudo::-webkit-scrollbar {
	 	display: none;
	}
	#herois-mudam .bg-red{
		width: 69px;
		height: 69px;
		position: absolute;
		top: -20px;
		left: -20px;
		z-index: -1;
	}
	#herois-mudam .box img{
		margin-bottom: 30px;
	}
	#herois-mudam .box h3{
		font-size: 20px;
		margin-bottom: 15px;
	}
	#herois-mudam .box p{
		font-size: 15px;
		height: 90px;
		overflow: auto;
		padding-right: 6px;
	}
	#herois-mudam .box p::-webkit-scrollbar {
	 	width: 6px;
	  	height: 10px;
	}
	#herois-mudam .box p::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	}
	#herois-mudam .box p::-webkit-scrollbar-thumb:vertical {
	  	border: 1px solid white;
	  	background-color: var(--new-blue-1);
	}
	#herois-mudam a.btn{
		width: 324px;
		height: 55px;
		padding-top: 16px;
		font-size: 15px;
		color: white;
	}
	#herois-mudam a.btn:hover{
		box-shadow: 10px 10px 0 var(--new-blue-1);
	}

/* --- sem heros --- */
	#sem-heros .bg-yellow,
	#sem-heros .bg-blue-2{
		height: 604px;
	}
	#sem-heros .bg-yellow h2{
		font-size: 53px;
		line-height: 55px;
		margin-left: 200px;
		margin-top: 15px;
	}
	#sem-heros .bg-blue-2 .conteudo{
		margin-left: -180px;
		position: relative;
	}
	#sem-heros .bg-blue-2 .video{
		position: relative;
		z-index: 1;
	}
	#sem-heros .bg-blue-2 .video iframe{
		width: 704px;
		height: 429px;
		border: 5px solid #412875;
	}
	#sem-heros .bg-blue-2 .quad-red{
		width: 78px;
		height: 78px;
		position: absolute;
	}
	#sem-heros .bg-blue-2 .quad-1{
		top: -20px;
		left: -25px;
	}
	#sem-heros .bg-blue-2 .quad-2{
		bottom: -26px;
		right: -26px;	
	}

/* --- missao --- */
	#missao{
		padding-top: 75px;
		padding-bottom: 105px;
	}
	#missao h2{
		font-size: 40px;
		margin-left: 40px;
	}
	#missao .d-flex.justify-content-center{
		margin-top: 70px;
	}
	#missao .box{
		position: relative;
	}
	#missao .bg-blue-2{
		min-width: 165px;
		height: 90px;
		padding: 0px 20px;
		margin-left: 8px;
		margin-right: 8px;
		z-index: 1;
		transition: .4s;
	}
	#missao .bg-blue-2 p{
		font-size: 18px;
		line-height: 1;
		margin-bottom: 2px;
		color: white;
		transition: .4s;
	}
	#missao .box .bg-red{
		transition: .4s;
	}
	#missao .box:hover .bg-blue-2{
		position: relative;
		min-width: 269px;
		transform: scale(1.3);
		background-color: var(--new-yellow)!important;
		padding: 0px 40px;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,0.30)!important;
		transition: .4s;
	}
	#missao .box:hover .bg-red{
		width: 48px;
		height: 48px;
		position: absolute;
		top: -24px;
		left: -43px;
		transition: .4s;
	}
	#missao .box:hover .bg-blue-2 p{
		font-size: 24px;
		color: var(--new-blue-1);
		font-family: "Averta Bold"!important;
		transition: .4s;
	}

/* --- aprenda --- */
	#aprenda{
		position: relative;
	}
	#aprenda h2{
		font-size: 40px;
		margin-bottom: 15px;
	}
	#aprenda p{
		font-size: 18px;
		margin-bottom: 60px;
	}
	#aprenda img{
		position: relative;
		z-index: 1;
	}
	#aprenda .bg-blue-1{
		width: 524px;
		height: 524px;
		margin-top: -470px;
		margin-left: 310px;
	}

/* --- como se tornar --- */
	#comose-tornar{
		padding-top: 80px;
		padding-bottom: 100px;
	}
	#comose-tornar h2{
		font-size: 38px;
		margin-bottom: 15px;
	}
	#comose-tornar p.font-light{
		font-size: 18px;
		padding-right: 110px;
		margin-bottom: 30px;
	}
	#comose-tornar a.btn{
		width: 183px;
		height: 55px;
		font-size: 15px;
		padding-top: 15px;
	}
	#comose-tornar a.btn:hover{
		box-shadow: 10px 10px 0 var(--new-blue-1);
	}

	#comose-tornar .dados{
		position: relative;
	}
	#comose-tornar .quadros{
		margin-left: -40px;
	}
	#comose-tornar .quadros .col-4{
		padding: 0;
		max-width: 148px;
		height: 148px;
		text-align: center;
		padding-top: 60px;
		font-size: 20px;
	}

	#comose-tornar .passos{
		position: relative;
		width: 444px;
		height: 445px;
		margin-left: -55px;
		padding: 20px 40px;
	}
	#comose-tornar .passos h3{
		font-size: 20px;
	}
	#comose-tornar .passos p{
		font-size: 18px;
		padding-right: 0;
		height: 215px;
		overflow: auto;
		padding-right: 6px;
	}
	#comose-tornar .passos p::-webkit-scrollbar {
	 	width: 6px;
	  	height: 10px;
	}
	#comose-tornar .passos p::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	}
	#comose-tornar .passos p::-webkit-scrollbar-thumb:vertical {
	  	border: 1px solid white;
	  	background-color: var(--new-blue-1);
	}
	#comose-tornar .passos .close{
		position: absolute;
		right: 30px;
	}

/* --- blog --- */
	#blog{
		padding-top: 40px;
		padding-bottom: 85px;
	}
	#blog h2{
		font-size: 40px;
	}
	#blog div.box{
		width: 311px;
		margin-top: 70px;
		position: relative;
		transition: .3s;

		height: 280px;
	}
	#blog div.box .data{
		width: 66px;
		height: 66px;
		font-size: 22px;
		line-height: .9;
		padding-top: 13px;
		position: absolute;
		top: -20px;
		left: -30px;
		z-index: 1;
	}
	#blog div.box .content{
		overflow: hidden;
		height: 295px;
	}
	#blog div.box .content img{
		margin-bottom: 22px;
		border: 5px solid #412875;
		transition: .3s;
	}
	#blog div.box .content h3{
		font-size: 22px;
		color: var(--new-blue-1);
		transition: .3s;
	}
	#blog div.box .conteudo p{
		opacity: 0;
		transition: .3s;
	}

	#blog div.box:hover{
		box-shadow: 15px 20px 0 var(--new-blue-1);
		background-color: var(--new-blue-2);
		height: 395px;
		transition: .3s;
	}
	#blog div.box:hover .content{
		height: 395px;
		transition: .3s;	
	}
	#blog div.box:hover .content img{
		height: 100%;
		object-fit: cover;
		opacity: .15;
		transition: .3s;
	}
	#blog div.box .content:hover .conteudo{
		position: absolute;
		bottom: 0;
		padding: 20px 30px;
		transition: .3s;
	}
	#blog div.box .content:hover .conteudo h3{
		color: var(--new-yellow);
		margin-bottom: 15px;
		transition: .3s;
	}
	#blog div.box .content:hover .conteudo p{
		opacity: 1;
		transition: .3s;
	}
	#blog div.box .content:hover .conteudo a.link{
		margin-top: 20px;
		font-size: 14px;
		transition: .3s;
	}
	
/* --- modal fale com a gente --- */
	#modal_fale{
		background-color: rgba(72, 43, 132, 0.6);
		padding-top: 20px;
	}
	#modal_fale .modal-content{
		max-width: 614px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 50px 50px 0 var(--new-yellow);
		position: relative;
	}
	#modal_fale .bg-red{
		max-width: 107px;
		width: 100%;
		max-height: 107px;
		height: 100%;
		position: absolute;
		top: -40px;
		left: -45px;
		z-index: -1;
	}
	#modal_fale .modal-body{
		padding: 107px 100px;
	}
	#modal_fale h2{
		font-size: 37px;
		text-align: center;
		margin-bottom: 30px;
	}
	#modal_fale input{
		height: 59px;
		border-color: #C4C4C4;
		border-radius: 0;
		margin-bottom: 15px;
		padding-left: 20px; 
	}
	#modal_fale a.btn{
		width: 210px;
		height: 55px;
		background-color: #482B84;
		color: white;
		padding-top: 15px;
		margin-top: 15px;
	}
	#modal_fale a.btn:hover{
		box-shadow: 10px 10px 0 var(--new-blue-1);
	}

@media screen and (max-width: 1660px) {
	body .border-2.bg-blue-1{
		width: 21%;
	}
	/* --- carousel --- */
		#carousel .carousel-item .row picture img{
			right: 27%;
		}

	/* --- sem heros --- */
		#sem-heros .bg-yellow h2{
			margin-left: 100px;
		}

	/* --- aprenda --- */
		#aprenda .bg-blue-1{
			margin-left: 180px;
		}
}

@media screen and (max-width: 1440px) {
	body .border-2.bg-blue-1{
		width: 15%;
	}
	/* --- carousel --- */
		#carousel .carousel-item .row picture img{
			right: 32%;
		}

	/* --- sem heros --- */
		#sem-heros .bg-yellow h2{
			margin-right: 80px;
			margin-left: 0px;
		}

	/* --- aprenda --- */
		#aprenda .bg-blue-1{
			margin-left: 30px;
		}
}

@media screen and (max-width: 1200px) {
	body .border-2.bg-blue-1{
		width: 3%;
	}
	/* --- sem heros --- */
		#sem-heros .bg-yellow h2{
			margin-left: 0px;
			margin-right: 130px;
		}
		#sem-heros .bg-blue-2 .conteudo{
			margin-left: -160px;
		}
		#sem-heros .bg-blue-2 .video iframe{
			width: 620px;
			height: 350px;
		}
}

@media screen and (max-width: 992px) {
	body .border-2.bg-blue-1{
		display: none;
	}
	/* --- carousel --- */
		#carousel .carousel-item{
			height: auto;
		}
		#carousel .carousel-item .row picture img{
			top: 0px;
			right: 20%;
		}
		#carousel .carousel-item .ml-auto{
			max-width: 100%;
		}
		#carousel .carousel-item h1{
			margin-top: 80px;
		}
		
	/* --- herois mudam --- */
		#herois-mudam h2{
			text-align: center;
		}
		#herois-mudam p{
			text-align: center;
		}

	/* --- sem heros --- */
		#sem-heros .bg-yellow{
			height: 234px;
		}
		#sem-heros .bg-blue-2{
			height: 400px;
		}
		#sem-heros .bg-yellow h2{
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		#sem-heros .bg-blue-2 .conteudo{
			margin-left: 0px;
		}
		#sem-heros .bg-blue-2 .my-auto{
			margin-left: auto;
			margin-right: auto;
		}
		#sem-heros .bg-blue-2 .video iframe{
			width: 620px;
			height: 350px;
		}
		#sem-heros .bg-blue-2 .quad-2{
			bottom: -20px;
		}

	/* --- missao --- */
		#missao h2{
			margin-left: 0px;
		}
		#missao .d-flex{
			overflow-x: auto;
			padding-top: 20px;
			padding-bottom: 15px;
		}
		#missao .d-flex::-webkit-scrollbar {
		 	width: 6px;
		  	height: 10px;
		}
		#missao .d-flex::-webkit-scrollbar-track-piece {
		  	background-color: var(--white);
		  	border: 1px solid var(--new-blue-2);
		}
		#missao .d-flex::-webkit-scrollbar-thumb:horizontal {
		  	background-color: var(--new-blue-2);
		}
		#missao .box:nth-child(1){
			margin-left: 210px;
		}
		#missao .box:nth-child(1):hover{
			margin-left: 430px;
		}
		#missao .box:hover .bg-blue-2{
			padding: 22px 50px;
		}
		
	/* --- aprenda --- */
		#aprenda .bg-blue-1{
			width: 210px;
			height: 210px;
			margin-top: -510px;
			margin-left: 0px;
		}

	/* --- como se tornar --- */
		#comose-tornar{
			margin-top: 280px;
		}

		#comose-tornar .quadros{
			margin-top: 50px;
			margin-left: 0px;
			max-width: 444px;
			margin-left: auto;
			margin-right: auto;
		}

		#comose-tornar .passos{
			margin-top: 50px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

	/* --- modal fale com a gente --- */
		#modal_fale .modal-content{
			box-shadow: 45px 45px 0 var(--new-yellow);
		}
		#modal_fale .bg-red{
			max-width: 90px;
			max-height: 90px;
			top: -30px;
			left: -35px;
		}
		#modal_fale .modal-body{
			padding: 60px 50px;
		}
}

@media screen and (max-width: 480px) {
	/* --- carousel --- */
		#carousel .carousel-item .row picture img{
			top: 0px;
			right: 80%;
		}
		#carousel .carousel-item .ml-auto{
			max-width: 100%;
		}
		#carousel .carousel-item h1{
			font-size: 37px;
			line-height: 42px;
			margin-top: 80px;
		}
		#carousel .carousel-item p{
			line-height: 22px;
			padding-right: 15px;
			margin-bottom: 25px;
		}
		#carousel .carousel-item a.btn{
			font-size: 14px;
			height: 46px;
			padding-top: 0px;
		}
		#carousel .carousel-item a.btn img{
			height: 46px;
		}

	/* --- herois mudam --- */
		#herois-mudam{
			padding-top: 50px;
			padding-bottom: 50px;
		}
		#herois-mudam h2{
			font-size: 30px;
			text-align: center;
		}
		#herois-mudam p{
			text-align: center;
		}
		#herois-mudam .d-flex{
			margin-top: 60px;
		}
		#herois-mudam .box{
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 15px;
		}
		#herois-mudam a.btn{
			max-width: 324px;
			width: 100%;
		}

	/* --- sem heros --- */
		#sem-heros .bg-yellow{
			height: 234px;
		}
		#sem-heros .bg-blue-2{
			height: auto;
			background-color: transparent!important;
		}
		#sem-heros .bg-blue-2 .conteudo{
			margin-left: 0px;
		}
		#sem-heros .bg-blue-2 .my-auto{
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}
		#sem-heros .bg-blue-2 .video iframe{
			max-width: 620px;
			width: 100%;
			height: 282px;
		}
		#sem-heros .bg-blue-2 .quad-red{
			display: none;
		}

	/* --- missao --- */
		#missao{
			padding-top: 70px;
			padding-bottom: 100px;
		}
		#missao h2{
			font-size: 30px;
			text-align: center;
		}
		#missao .d-flex{
			margin-top: 0px;
		}
		#missao .box:nth-child(1){
			margin-left: 410px;
		}
		#missao .bg-blue-2{
			min-width: 118px;
			padding: 0px 16px;
		}
		#missao .bg-blue-2 p{
			font-size: 14px;
		}
		#missao .box:nth-child(1):hover{
			margin-left: 430px;
		}
		#missao .box:hover .bg-blue-2{
			min-width: 200px;
			padding: 0px 30px;
		}
		#missao .box:hover .d-flex {
		    overflow-x: auto;
		    padding-top: 10px;
		}
		#missao .box:nth-child(1):hover{
			margin-left: 550px;
		}
		#missao .box:hover .bg-red{
			left: -35px;
		}
		#missao .box:hover .bg-blue-2 p{
			font-size: 20px;
		}

	/* --- aprenda --- */
		#aprenda h2{
			font-size: 30px;
		}
		#aprenda p{
			font-size: 18px;
		}
		#aprenda .bg-blue-1{
			margin-top: -280px;
			margin-left: -40px;
		}

	/* --- como se tornar --- */
		#comose-tornar{
			margin-top: 30px;
		}
		#comose-tornar h2{
			font-size: 30px;
		}
		#comose-tornar p.font-light{
			padding-right: 0px;
		}

		#comose-tornar .quadros{
			margin-top: 60px;
			max-width: 444px;
			width: 100%;
		}
		
		#comose-tornar .passos{
			max-width: 444px;
			width: 100%;
			margin-top: 60px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		#comose-tornar .passos p{
			font-size: 16px;
			padding-right: 6px;
		}

	/* --- blog --- */
		#blog{
			padding-top: 0px;
			padding-bottom: 50px;
		}
		#blog h2{
			font-size: 30px;
			margin-bottom: 70px;
		}
		#blog a.box{
			max-width: 311px;
			width: 100%;
			height: 340px;
			margin-top: 0px;
		}
		#blog a.box:hover{
			margin-bottom: 60px;
		}

	/* --- modal fale com a gente --- */
		#modal_fale{
			padding-top: 0px;
		}
		#modal_fale .modal-content{
			max-width: 352px;
			box-shadow: 30px 30px 0 var(--new-yellow);
		}
		#modal_fale .bg-red{
			max-width: 60px;
			max-height: 60px;
			top: -20px;
			left: -20px;
		}
		#modal_fale .modal-body{
			padding: 60px 55px;
		}
		#modal_fale h2{
			font-size: 20px;
			margin-bottom: 10px;
		}
		#modal_fale input{
			height: 33px;
			margin-bottom: 8px;
			padding-left: 15px; 
			font-size: 10px;
		}
		#modal_fale a.btn{
			width: 121px;
			height: 31px;
			font-size: 8px;
			padding-top: 8px;
			margin-top: 5px;
		}
}

@media screen and (max-width: 400px) {
	/* --- carousel --- */
		#carousel .carousel-item .row picture img{
			right: 100%;
		}
		#carousel .carousel-item h1{
			font-size: 28px;
			line-height: 35px;
		}
		#carousel .carousel-item p{
			font-size: 16px;
		}

	/* --- herois mudam --- */
		#herois-mudam a.btn{
			font-size: 14px;
		}

	/* --- sem heros --- */
		#sem-heros .bg-yellow h2{
			font-size: 45px;
		}

	/* --- missao --- */
		#missao .box:nth-child(1){
			margin-left: 500px;
		}
		#missao .box:nth-child(1):hover{
			margin-left: 600px;
		}

	/* --- aprenda --- */
		#aprenda h2{
			font-size: 30px;
		}
		#aprenda p{
			font-size: 16px;
		}
		#aprenda .bg-blue-1{
			margin-top: -230px;
			margin-left: -40px;
		}

	/* --- como se tornar --- */
		#comose-tornar h2{
			font-size: 30px;
		}
		#comose-tornar p.font-light{
			padding-right: 0px;
		}
		#comose-tornar .quadros .col-4{
			height: 130px;
			padding-top: 50px;
		}
		#comose-tornar .passos{
			height: 390px;
			margin-top: 60px;
			padding: 20px 40px;
		}
		#comose-tornar .passos p{
			font-size: 15px;
		}

	/* --- blog --- */
		#blog a.box .data{
			left: -20px;
		}

	/* --- modal fale com a gente --- */
		#modal_fale .modal-body{
			padding: 60px 45px;
		}
}