/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-sobre.png)no-repeat center center;
		background-size: cover;
		height: 227px;
		overflow: hidden;
	}

/* --- sobre --- */
	#sobre{
		padding-top: 60px;
		padding-bottom: 50px;
		/*position: relative;*/
	}
	#sobre h1{
		font-size: 52px;
		margin-bottom: 70px;
	}
	#sobre img.img-sobre-1,
	#sobre img.img-sobre-2{
		border: 5px solid var(--new-blue-2);
		width: 283px;
		height: 283px;
		margin-bottom: 20px;
	}
	#sobre img.img-sobre-1{
		box-shadow: -18px -15px 0 var(--new-blue-1);
	}
	#sobre img.img-sobre-2{
		box-shadow: 12px 15px 0 var(--new-blue-1);
	}
	#sobre h2{
		font-size: 26px;
		margin-bottom: 15px;
	}
	#sobre p{
		font-size: 15px;
		line-height: 20px;
	}

/* --- numeros --- */
	#numeros{
		position: relative;
	}
	#numeros div.bg-blue-2{
		background-color: #412875!important;
		max-width: 1183px;
		width: 100%;
		height: 307px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
	}
	#numeros img.d-block.mx-auto{
		max-width: 1082px;
		width: 100%;
		border: 15px solid var(--new-blue-2);
		position: relative;
		z-index: 1;
		margin-top: -340px;
	}
	#numeros .dados{
		background-color: var(--new-blue-1);
		margin-top: -180px;
		padding-top: 260px;
		padding-bottom: 95px;
	}
	#numeros .box{
		margin-left: 40px;
		margin-right: 40px;
	}
	#numeros .box img{
		margin-bottom: 5px;
	}
	#numeros .box p.count{
		font-size: 63px;
		margin-bottom: 0px;
	}
	#numeros .box p.text-white{
		font-size: 23px;
		line-height: 18px;
	}

/* --- metodologia --- */
	#metodologia{
		padding-top: 80px;
		padding-bottom: 50px;
	}
	#metodologia h2{
		font-size: 35px;
		margin-bottom: 60px;
	}
	#metodologia .box{
		max-width: 260px;
		width: 100%;
		height: 387px;
		border: 1px solid var(--new-blue-2);
		padding: 40px 20px 30px;
		margin-left: 7px;
		margin-right: 7px;
		margin-bottom: 10px;

		overflow: auto;
	}
	#metodologia .box::-webkit-scrollbar {
	 	display: none;
	}
	#metodologia .box img{
		margin-bottom: 25px;
	}
	#metodologia .box h3{
		font-size: 22px;
		margin-bottom: 15px;
	}
	#metodologia .box p{
		font-size: 16px;
		height: 165px;
		line-height: 20px;
		overflow: auto;
		padding-right: 5px;
	}
	#metodologia .box p::-webkit-scrollbar {
	 	width: 6px;
	  	height: 10px;
	}
	#metodologia .box p::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	  	border: 1px solid var(--new-blue-1);
	}
	#metodologia .box p::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-blue-1);
	}

/* --- seu filho --- */
	#seu-filho{
		padding-top: 70px;
	}
	#seu-filho h2{
		font-size: 35px;
		margin-bottom: 50px;
	}
	#seu-filho .box{
		width: 255px;
		height: 255px;
		text-align: center;
		padding-top: 70px;
		padding-left: 20px;
		padding-right: 20px;
		background-color: var(--new-blue-2);
		position: relative;
		transition: .3s;

		margin-bottom: 180px;
	}
	#seu-filho .box:nth-child(3) p{
		padding-top: 20px;
	}
	#seu-filho .box h3{
		font-size: 22px;
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		transition: .3s;
	}
	#seu-filho .box p{
		display: none;
		transition: .3s;
	}

	#seu-filho .box:hover{
		height: 428px;
		padding-top: 0px;
		box-shadow: 15px 15px 0 var(--new-yellow);
		transition: .3s;
	}
	#seu-filho .box:hover .m-auto{
		margin-top: 20px!important;
		transition: .3s;
	}
	#seu-filho .box:hover h3{
		top: 50px;
		transition: .3s;
	}
	#seu-filho .box:hover p{
		display: block;
		margin-top: -20px;
		max-height: 260px;
		overflow: auto;
		transition: .3s;
	}
	#seu-filho .box p::-webkit-scrollbar {
	 	width: 6px;
	  	height: 10px;
	}
	#seu-filho .box p::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	}
	#seu-filho .box p::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-blue-1);
	  	border: 1px solid var(--white);
	}

/* --- na-pratica --- */
	#na-pratica{
		padding-bottom: 80px;
	}
	#na-pratica h2{
		font-size: 35px;
	}
	#na-pratica .slider{
		margin-top: 50px;
	}
	#na-pratica .btn-slick-carousel-left,
	#na-pratica .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 35%;
		cursor: pointer;
	}
	#na-pratica .btn-slick-carousel-left{
		left: 0%;
	}
	#na-pratica .btn-slick-carousel-right{
		right: 0%;
	}

/* --- quem sao --- */
	#quem-sao{
		padding-top: 100px;
		padding-bottom: 90px;
	}
	#quem-sao h2{
		margin-top: 40px;
		font-size: 35px;
	}

	#quem-sao .slide{
		max-width: 226px;
	}
	#quem-sao .slide .conteudo{
		height: 136px;
		overflow: auto;
		padding-right: 2px;
	}
	#quem-sao .slide .conteudo::-webkit-scrollbar {
	 	width: 6px;
	  	height: 10px;
	}
	#quem-sao .slide img{
		border: 5px solid white;
		margin-bottom: 20px;
	}
	#quem-sao .slide h3{
		font-size: 22px;
		margin-bottom: 20px;
	}
	#quem-sao .slide p{
		font-size: 16px;
		line-height: 20px;
		padding-left: 15px;
		padding-right: 15px;
	}
	#quem-sao .btn-slick-carousel-left,
	#quem-sao .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 35%;
		cursor: pointer;
	}
	#quem-sao .btn-slick-carousel-left{
		left: -50%;
	}
	#quem-sao .btn-slick-carousel-right{
		left: -44%;
	}

/* --- yellow box --- */
	#yellow-box{
		padding-top: 100px;
		padding-bottom: 90px;
	}
	#yellow-box h2{
		font-size: 35px;
		margin-bottom: 20px;
	}
	#yellow-box p{
		font-size: 16px;
		line-height: 20px;
	}
	#yellow-box a.btn{
		margin-top: 10px;
		width: 185px;
		height: 55px;
		font-size: 15px;
		padding-top: 17px;
	}
	#yellow-box a.btn:hover{
		box-shadow: 10px 10px 0 var(--new-blue-1);
	}

/* --- ensinos --- */
	#ensinos .bg-yellow,
	#ensinos .bg-blue-2{
		padding-top: 80px;
		padding-bottom: 40px;
	}
	#ensinos h2{
		font-size: 35px;
		margin-bottom: 35px;
	}
	#ensinos .media{
		margin-bottom: 20px;
	}
	#ensinos .media p{
		font-size: 18px;
	}
	#ensinos .box{
		max-width: 345px;
	}
	#ensinos .bg-yellow .mx-auto{
		margin-right: 150px!important;
	}
	#ensinos .bg-blue-2 .mx-auto{
		margin-left: 90px!important;
	}

/* --- com heros --- */
	#com-heros{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	#com-heros h2{
		font-size: 35px;
	}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- numeros --- */
		#numeros div.bg-blue-2{
			display: none;
		}
		#numeros img.d-block.mx-auto{
			margin-top: 20px;
		}
		#numeros .dados{
			margin-top: 0px;
			padding-top: 90px;
		}
		#numeros .box{
			margin-left: 25px;
			margin-right: 25px;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-sobre.png)no-repeat 70% center;
		}

	/* --- sobre --- */
		#sobre img.img-sobre-1,
		#sobre img.img-sobre-2{
			margin-bottom: 50px;
		}

	/* --- numeros --- */
		#numeros img.d-block.mx-auto{
			margin-top: 20px;
		}
		#numeros .dados{
			margin-top: 0px;
			padding-top: 70px;
			padding-bottom: 50px;
		}
		#numeros .box{
			margin-left: 25px;
			margin-right: 25px;
			margin-bottom: 25px;
		}

	/* --- quem sao --- */
		#quem-sao{
			padding-top: 50px;
			padding-bottom: 50px;
		}
		#quem-sao h2{
			margin-top: 0px;
			margin-bottom: 100px;
		}
		#quem-sao .btn-slick-carousel-left,
		#quem-sao .btn-slick-carousel-right{
			position: absolute;
			z-index: 999;
			top: -20%;
			cursor: pointer;
		}
		#quem-sao .btn-slick-carousel-left{
			left: 0%;
		}
		#quem-sao .btn-slick-carousel-right{
			left: 7%;
		}

	/* --- ensinos --- */
		#ensinos .bg-yellow,
		#ensinos .bg-blue-2{
			padding-top: 50px;
		}
		#ensinos h2{
			font-size: 30px;
		}
		#ensinos .bg-yellow .mx-auto{
			margin-right: auto!important;
			margin-left: auto!important;
		}
		#ensinos .bg-blue-2 .mx-auto{
			margin-left: auto!important;
			margin-right: auto!important;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-sobre.png)no-repeat 75% center;
		}

	/* --- sobre --- */
		#sobre{
			padding-top: 50px;
			padding-bottom: 60px;
		}
		#sobre h1{
			font-size: 30px;
			margin-bottom: 50px;
		}
		#sobre img.img-sobre-1,
		#sobre img.img-sobre-2{
			width: 173px;
			height: 173px;
			margin-bottom: 50px;
		}
		
	/* --- numeros --- */
		#numeros img.d-block.mx-auto{
			border: 5px solid var(--new-blue-2);
			height: 200px;
			object-fit: cover;
		}
		#numeros .dados{
			margin-top: 0px;
			padding-top: 40px;
			padding-bottom: 40px;
		}
		#numeros .box{
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 25px;
		}
		#numeros .box img{
			max-width: 70px;
		}
		#numeros .box p.count{
			font-size: 46px;
		}
		#numeros .box p.text-white{
			font-size: 16px;
		}

	/* --- metodologia --- */
		#metodologia{
			padding-top: 40px;
			padding-bottom: 40px;
		}
		#metodologia h2{
			font-size: 30px;
			margin-bottom: 40px;
		}
		#metodologia .box{
			margin-left: 0px;
			margin-right: 0px;
		}
		
	/* --- seu filho --- */
		#seu-filho{
			padding-top: 50px;
			padding-bottom: 100px;
		}
		#seu-filho h2{
			text-align: center;
			font-size: 30px;
			margin-bottom: 40px;
		}
		#seu-filho .box{
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin-bottom: 25px;
		}

	/* --- na-pratica --- */
		#na-pratica h2{
			font-size: 30px;
		}
		#na-pratica .slider{
			margin-top: 100px;
		}
		#na-pratica .btn-slick-carousel-left,
		#na-pratica .btn-slick-carousel-right{
			top: -30%;
		}
		#na-pratica .btn-slick-carousel-left{
			left: 35%;
		}
		#na-pratica .btn-slick-carousel-right{
			right: 35%;
		}
		
	/* --- quem sao --- */
		#quem-sao h2{
			font-size: 30px;
		}
		#quem-sao .btn-slick-carousel-right{
			left: 15%;
		}

	/* --- yellow box --- */
		#yellow-box{
			padding-top: 40px;
			padding-bottom: 50px;
		}
		#yellow-box h2{
			font-size: 30px;
		}
		#yellow-box a.btn{
			margin-bottom: 60px;
		}
}

@media screen and (max-width: 400px) {
	/* --- numeros --- */
		#numeros .box{
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 25px;
		}
		#numeros .box p.count{
			font-size: 40px;
		}
		#numeros .box p.text-white{
			font-size: 14px;
		}

	/* --- na-pratica --- */
		#na-pratica h2{
			font-size: 26px;
		}
		#na-pratica .btn-slick-carousel-left{
			left: 32%;
		}
		#na-pratica .btn-slick-carousel-right{
			right: 32%;
		}

	/* --- com heros --- */
		#com-heros{
			padding-top: 60px;
			padding-bottom: 60px;
		}
		#com-heros h2{
			font-size: 30px;
		}
}