/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-tornese.png)no-repeat center center;
		background-size: cover;
		height: 227px;
		overflow: hidden;
	}

/* --- sobre --- */
	#sobre{
		padding-top: 110px;
		position: relative;
	}
	#sobre h1{
		font-size: 52px;
		margin-bottom: 90px;
	}
	#sobre img.img-mascote{
		position: absolute;
		margin-top: 90px;
		left: 0;
		right: 15px;
		margin-left: auto;
		margin-right: auto;
		z-index: 1;
	}
	#sobre .bg-white,
	#sobre .bg-blue-2{
		padding-top: 120px;
		padding-bottom: 60px;
	}
	#sobre .bg-white .ml-auto{
		margin-right: 150px;
	}
	#sobre .bg-blue-2 .mr-auto{
		margin-left: 130px;
	}
	#sobre h2{
		font-size: 26px;
		margin-bottom: 30px;
	}
	#sobre .media{
		margin-bottom: 30px;
		height: 50px;
		overflow: auto;
	}
	#sobre .media p{
		margin-top: 0px;
		margin-bottom: 0;
	}
	#sobre .media img{
		
	}

/* --- confia --- */
	#confia{
		padding-top: 90px;
		padding-bottom: 105px;
	}
	#confia h2{
		font-size: 26px;
		margin-bottom: 50px;
	}
	#confia .box{
		max-width: 495px;
		width: 100%;
		height: 244px;
		border: 1px solid var(--new-blue-1);
		padding: 40px 45px;
		margin-bottom: 30px;
		transition: .3s!important;
	}
	#confia .box:hover{
		box-shadow: 20px 20px 0 var(--new-blue-2);
		transition: .3s!important;
	}
	#confia .box .text-center img{
		width: 95px;
		height: 95px;
		object-fit: cover;
		margin-bottom: 12px;
		margin-top: 5px;
	}
	#confia .box .text-center p.nome{
		font-size: 20px;
		margin-bottom: 0;
	}
	#confia .box .text-center p.tutor{
		font-size: 12px;
		line-height: 
	}
	#confia .box .desc p{
		font-size: 16px;
		line-height: 20px;
		height: 162px;
		overflow: auto;
		padding-right: 5px;
	}
	#confia .box .desc p::-webkit-scrollbar {
	 	width: 6px;
	  	height: 10px;
	}
	#confia .box .desc p::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	  	border: 1px solid var(--new-blue-1);
	}
	#confia .box .desc p::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-blue-1);
	}

	#confia .btn-slick-carousel-left,
	#confia .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		bottom: -30px;
		cursor: pointer;
	}
	#confia .btn-slick-carousel-left{
		left: 89%;
	}
	#confia .btn-slick-carousel-right{
		right: 3%;
	}

/* --- beneficios --- */
	#beneficios{
		padding-bottom: 105px;
	}
	#beneficios .bg-blue-2{
		width: 100%;
		height: 390px;
	}
	#beneficios .row{
		position: relative;
		margin-top: -335px;
	}
	#beneficios img.ml-auto{
		margin-right: 90px;
	}
	#beneficios .slider{
		margin-left: -40px;
	}
	#beneficios .table-responsive{
		margin-top: 45px;
		max-width: 475px;
	}
	#beneficios table thead th{
		height: 75px;
		font-size: 25px;
	}
	
	#beneficios table tbody tr{
		height: 48px;
		font-size: 16px;
	}
	#beneficios table tbody td img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#beneficios table tbody td:first-child{
		min-width: 295px!important;
		max-width: 295px!important;
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
	}
	#beneficios table tbody td:last-child{
		min-width: 180px!important;
		max-width: 180px!important;
		width: 100%;	
	}

	#beneficios table tbody tr:nth-child(odd) td:first-child{
		background-color: #F7F7F7!important;
	}
	#beneficios table tbody tr:nth-child(even) td:first-child{
		background-color: #EAEAEA!important;
	}
	#beneficios table tbody tr:nth-child(odd) td:last-child{
		background-color: #FAFAB7!important;
	}
	#beneficios table tbody tr:nth-child(even) td:last-child{
		background-color: #F2F2AF!important;
	}

	#beneficios a.btn{
		margin-top: 20px;
		width: 180px;
		height: 55px;
		padding-top: 15px;
	}
	#beneficios a.btn:hover{
		box-shadow: -10px -10px 0 var(--new-blue-1);
	}

	#beneficios .btn-slick-carousel-left,
	#beneficios .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		bottom: -50px;
		cursor: pointer;
	}
	#beneficios .btn-slick-carousel-left{
		left: 51%;
	}
	#beneficios .btn-slick-carousel-right{
		right: 34%;
	}

/* --- galeria --- */
	#galeria{
		padding-top: 40px;
		padding-bottom: 50px;
	}
	#galeria h2{
		font-size: 26px;
		margin-bottom: 35px;
	}
	#galeria .nav{
		margin-bottom: 35px;
	}
	#galeria .nav li a{
		border: 1px solid red;
		background-color: transparent;
		color: #707070;
		font-size: 20px;
		border-radius: 0;
		border: 0;
		border-bottom: 1px solid transparent;
		padding: 0;
		margin-left: 6px;
		margin-right: 6px;
		line-height: 18px;
	}
	#galeria .nav li a.active{
		border-bottom: 1px solid #707070!important;
		font-family: "Averta Bold";
	}
	#galeria .nav li p{
		color: #707070;
		font-size: 20px;
		line-height: 18px;
	}
	#galeria .tab-content img{
		width: 254px;
		height: 254px;
		object-fit: cover;
		border: 5px solid var(--new-blue-2);
		margin: 0 4px 30px 4px;
	}
	#galeria .tab-content iframe{
		width: 254px;
		height: 254px;
		border: 5px solid var(--new-blue-2);
		margin: 0 4px 30px 4px;	
	}

/* --- duvidas --- */
	#duvidas{
		padding-top: 10px;
		padding-bottom: 60px;
	}
	#duvidas h2.text-center{
		font-size: 26px;
		margin-bottom: 40px;
	}
	#duvidas .accordion{
		max-width: 807px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	#duvidas .accordion .card{
		background-color: #7070701a;
		margin-bottom: 15px;
		border: none;
		transition: .3s;
	}
	#duvidas .accordion .card-header{
		min-height: 53px;
		height: 100%;
		padding-top: 0px;
		padding-bottom: 0;
		padding-right: 0;
	    background-color: transparent;
	    border: none;
	    transition: .3s;
	}
	#duvidas .accordion .float-left{
		max-width: 700px;
		width: 100%;
	}
	#duvidas .accordion button.font-light{
		font-size: 16px;
		line-height: 20px;
		padding-top: 12px;
		white-space: normal!important;
		text-align: left;
		color: #707070;
		text-decoration: none;
		padding-left: 8px;
		padding-top: 15px;
	}
	#duvidas .accordion button.icon{
		margin-top: 4px;
		margin-right: 5px;
		transition: .3s;
	}
	#duvidas .accordion button.icon:before{
		content: url(../imagens/logos/arrow-down-2.png);
	}
	#duvidas .accordion .card-body{
		transition: .3s;
		padding: 0px 30px 20px;
		margin-top: -15px;
	}
	#duvidas .accordion .card-body p{
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 20px;
	}

	#duvidas .accordion .card-header[aria-expanded="true"] .font-light{
		font-family: "Averta Bold";
		color: var(--new-blue-1);
		transition: .3s;
	}
	#duvidas .accordion .card-header[aria-expanded="true"] button.icon:before{
		content: url(../imagens/logos/arrow-up-2.png);
	}
	#duvidas .accordion .card:hover{
		transition: .3s;
	}
	#duvidas .border-top{
		margin-top: 15px;
		margin-bottom: 25px;
		border-top: 1px solid #707070!important;
		opacity: .4;
	}

/* --- conheca --- */
	#conheca{
		background: url(../imagens/banners/banner-conheca.png)no-repeat center center;
		background-size: cover;
		height: 300px;
	}
	#conheca .ml-auto{
		/*margin-right: 0px;*/
	}
	#conheca h2{
		font-size: 47px;
		margin-top: 70px;
		margin-bottom: 15px;
	}
	#conheca a.btn{
		width: 180px;
		height: 55px;
		padding-top: 15px;
		font-size: 15px;
	}
	#conheca a.btn:hover{
		box-shadow: 10px 10px 0 var(--new-blue-1);
	}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- beneficios --- */
		#beneficios .btn-slick-carousel-left{
			left: 65%;
		}
		#beneficios .btn-slick-carousel-right{
			right: 14%;
		}

	/* --- galeria --- */
		#galeria .tab-content img,
		#galeria .tab-content iframe{
			width: 240px;
			height: 240px;
			margin: 0 2px 20px 2px;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-tornese.png)no-repeat 70% center;
		}

	/* --- beneficios --- */
		#beneficios img.ml-auto{
			margin-right: 50px;
			max-width: 80%;
		}
		#beneficios .slider{
			margin-left: -40px;
		}

		#beneficios .btn-slick-carousel-left{
			left: 75%;
		}
		#beneficios .btn-slick-carousel-right{
			right: 3%;
		}

	/* --- galeria --- */
		#galeria .tab-content img,
		#galeria .tab-content iframe{
			width: 240px;
			height: 240px;
			margin: 0 5px 15px 5px;
		}
		
	/* --- duvidas --- */
		#duvidas .accordion .float-left{
			max-width: 600px;
		}

	/* --- conheca --- */
		#conheca h2{
			margin-top: 25px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-tornese.png)no-repeat 75% center;
		}

	/* --- sobre --- */
		#sobre{
			padding-top: 50px;
		}
		#sobre h1{
			font-size: 30px;
			margin-bottom: 40px;
		}
		#sobre img.img-mascote{
			margin-top: 520px;
			left: 0;
			right: 0px;
		}
		#sobre .bg-white{
			padding-top: 50px;
			padding-bottom: 100px;
		}
		#sobre .bg-blue-2{
			padding-top: 250px;
			padding-bottom: 40px;
		}
		#sobre .bg-white .ml-auto{
			margin-right: auto;
			text-align: center;
		}
		#sobre .bg-blue-2 .mr-auto{
			margin-left: auto;
			text-align: center;
		}
		#sobre .media{
			margin-bottom: 30px;
			/*justify-content: center;*/
		}
		#sobre .media-body{
			/*flex: none;*/
			/*max-width: 300px;*/
		}
		#sobre .media p {
		    margin-top: 0px;
		}

	/* --- confia --- */
		#confia{
			padding-top: 50px;
			padding-bottom: 100px;
		}
		#confia h2{
			font-size: 30px;
			margin-bottom: 40px;
		}
		#confia .box{
			height: 170px;
			padding: 20px 45px;
		}
		#confia .box:hover{
			box-shadow: 10px 10px 0 var(--new-blue-2);
		}
		#confia .box .text-center img{
			width: 66px;
			height: 66px;
			margin-bottom: 12px;
			margin-top: 5px;
		}
		#confia .box .text-center p.nome{
			font-size: 14px;
		}
		#confia .box .text-center p.tutor{
			font-size: 8px;
		}
		#confia .box .desc p{
			font-size: 15px;
			line-height: 18px;
			height: 126px;
		}

		#confia .btn-slick-carousel-left,
		#confia .btn-slick-carousel-right{
			bottom: -25px;
		}
		#confia .btn-slick-carousel-left{
			left: 39%;
		}
		#confia .btn-slick-carousel-right{
			right: 39%;
		}

	/* --- beneficios --- */
		#beneficios{
			padding-bottom: 80px;
		}
		#beneficios div.bg-blue-2{
			display: none;
		}
		#beneficios .row{
			margin-top: 0px;
		}
		#beneficios .bg-imagem{
			background-color: var(--new-blue-1);
			padding-bottom: 150px;
		}
		#beneficios img.ml-auto{
			margin-right: 50px;
			max-width: 100%;
		}
		#beneficios .slider{
			margin-left: 0px;
			margin-top: -80px;
		}
		#beneficios .table-responsive{
			margin-top: 0px;
			max-width: 475px;
			overflow: hidden;
		}
		#beneficios table thead th{
			height: 65px;
			font-size: 21px;
		}
		#beneficios table tbody tr{
			height: 41px;
			font-size: 13px;
		}
		#beneficios table tbody td img{
			max-width: 20px;
		}
		#beneficios table tbody td:first-child{
			max-width: 256px!important;
			min-width: initial!important;
		}
		#beneficios table tbody td:last-child{
			max-width: 156px!important;
			min-width: 130px!important;
		}
		#beneficios a.btn{
			margin-top: 20px;
			width: 157px;
			height: 47px;
			padding-top: 15px;
			font-size: 13px;
		}
		#beneficios .btn-slick-carousel-left,
		#beneficios .btn-slick-carousel-right{
			bottom: -50px;
			z-index: 2;
		}
		#beneficios .btn-slick-carousel-left{
			left: 70%;
		}
		#beneficios .btn-slick-carousel-right{
			right: 0%;
		}

	/* --- galeria --- */
		#galeria{
			padding-top: 30px;
			padding-bottom: 40px;
		}
		#galeria .tab-content img{
			width: 179px;
			height: 179px;
		}
		#galeria .tab-content iframe{
			width: 300px;
			height: 190px;
			margin: 0 4px 30px 4px;	
		}

	/* --- duvidas --- */
		#duvidas h2.text-center{
			font-size: 30px;
		}
		#duvidas .accordion .float-left{
			max-width: 310px;
		}

	/* --- conheca --- */
		#conheca{
			background: none;
			background-size: cover;
			height: auto;
		}
		#conheca .texto{
			background-color: var(--new-yellow);
			padding-top: 40px;
			padding-bottom: 78px;
		}
		#conheca h2{
			font-size: 40px;
			margin-top: 25px;
		}
		#conheca a.btn{
			width: 162px;
			height: 49px;
			padding-top: 15px;
			font-size: 13px;
		}
		#conheca .imagem{
			background: url(../imagens/banners/banner-conheca.png)no-repeat 80% center;
			background-size: cover;
			height: 300px;
		}
}

@media screen and (max-width: 400px) {
	/* --- confia --- */
		#confia .btn-slick-carousel-left{
			left: 37%;
		}
		#confia .btn-slick-carousel-right{
			right: 37%;
		}
	
	/* --- beneficios --- */
		#beneficios table tbody td:first-child{
			max-width: 256px!important;
		}
		#beneficios table tbody td:last-child{
			min-width: 80px!important;
		}

	/* --- galeria --- */
		#galeria .tab-content img{
			width: 160px;
			height: 160px;
			margin: 0 2px 15px 2px;
		}
		
	/* --- duvidas --- */
		#duvidas .accordion .float-left{
			max-width: 250px;
		}

	/* --- conheca --- */
		#conheca h2{
			font-size: 30px;
		}
}
@media screen and (max-width: 360px) {
	/* --- duvidas --- */
		#duvidas .accordion .float-left{
			max-width: 200px;
		}	
}